*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.heading
{
  color: green;
}
.countdiv
{
  border: 1px solid black;
  width: 30%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.countbtn
{
  background: red;
  color: white;
  border: none;
  outline: none;
  padding: 1rem 1rem;
  font-size: 2vh;
  font-weight: 600;
}

/* Todolist coding start here*/

.maindiv
{
  background: teal;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.maindiv .centerdiv
{
  width: 30%;
  height: 80vh;
  background: white;
  display:inline;
  border-radius: 10px;
}
.maindiv .centerdiv h1
{
  text-align: center;
  font-family: sans-serif;
  color: rgb(235, 231, 231);
  padding: 5px 0;
  margin: 2vh 2px;
  background: teal;
  border-radius: 5px;
}
.maindiv .centerdiv input
{
  width: 70%;
  height: 5vh;
  border: none;
  border-bottom: 2px solid teal;
  margin: 10vh 5vh;
  outline: none;
  font-size: 20px;
  color: teal;
}
::placeholder
{
  color: teal;
  font-size: 16px;
  text-align: center;
}
.maindiv .centerdiv button
{
  padding: 6px 10px;
  background: none;
  color: teal;
  border-radius: 10%;
  font-size: 30px;
  outline: none;
}
.maindiv .centerdiv button:hover
{
  background-color: teal;
  color: white;
}
.maindiv .centerdiv ul
{
  margin: 0vh 1vh;
  text-align: start;
}
.maindiv .centerdiv li
{
  list-style: none;
  font-size: 20px;
  color: teal;
  font-weight: 800;
  text-transform: capitalize;
  padding: 5px ;
}
.maindiv .centerdiv li .fa
{
  margin: 0 20px;
}
.maindiv .centerdiv li .fa:hover
{
  color: rgb(255, 0, 0);
}

/* todolist in mobile view */

/* mobile coding start here */

@media(max-width:768px)
{
  .maindiv 
  {
    background: teal;
  }
  .maindiv .centerdiv
  {
    width: 95%;
  } 
  .maindiv .centerdiv input
  {
    width: 60%;
    margin-left: 10vw;
  }
}
